# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm
__debug_bin*
*.out

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# Build and package outputs
/public/build
/public/hot

# Dependency and package-manager directories
node_modules/

# env file
.env

# Development files
/data/
/testdata/

# Other
.DS_Store

# Editor/IDE
# .idea/
# .vscode/
